# Общие игнорируемые файлы для Node.js
node_modules/          
*.log                 
npm-debug.log
.env                
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.env.development
.env.production

# Для client (React)
client/build/          # Сборка React
client/dist/           # Если используется dist
client/public/*.log
.vite/

# Для server
server/dist/           # Скомпилированные файлы сервера
server/logs/           # Папка с логами
server/node_modules/
server/.env

# Временные файлы
*.swp                  # Временные файлы Vim
*.bak                  # Резервные копии
*.tmp                  # Временные файлы

# Системные файлы
Thumbs.db              # Windows


# Firebase
.firebaserc
firestore.indexes.json
firestore.rules
emulator-data/
firebase-debug.log
firebase-debug.*.log
.firebase/

.xlsx